<div class="footer-container">
    <!--LOGO-->
    <img class="logo"  src="{{logoUrl}}"/>

    <!--Link google play and app store-->
    <div class="link-box">
        <a class="link" href="{{googlePlayUrl}}"> <img  class="appStore"  src="{{googlePlayImgUrl}}"/></a>
        <a class="link" href="{{appStoreUrl}}"> <img  class="googlePlay"  src="{{appStoreImgUrl}}"/></a>
    </div>
    
    <!--Copyright-->
    <p class="copyright"> © Copyright 2022 Dreadful Tomatoes. All rights reserved.</p>
</div>
