
<div class="card-container">
  <a href="{{movieUrl}}" class="link-movie">
    <!--Image of movie-->
      <img class="image" src="{{url}}" alt="Card image cap">
    <!--Default body-->
    <div class="card-body-small">
      <p class="card-title-text">{{title}}</p>
    </div> 
    <!--Hover body-->
    <div class="card-body-full">
      <div class="card-title"><p class="card-title-text2">{{title}}</p></div>
      <div class="card-year"><p class="card-year-text">{{releaseYear}}</p></div> 
      <div class="card-des"><p class="card-des-text">{{description}}</p></div> 
    </div>
  </a>
</div>

