/* You can add global styles to this file, and also import other style files */
html, body {
  box-sizing: border-box;
  background-color: #282c34;
  height: auto;
  width: 100%;
  margin: 0px;
  padding : 0px;
  margin-left: 0%;
}
body {
   overflow-y: scroll;

}
* {
  box-sizing: border-box;
}